<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> <%= title %>  </title>

    <!-- =============== Bootstrap Core CSS =============== -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <!-- =============== fonts awesome =============== -->
    <link rel="stylesheet" href="/font/css/font-awesome.min.css" type="text/css">
    <!-- =============== Plugin CSS =============== -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">
    <!-- =============== Custom CSS =============== -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!-- =============== Owl Carousel  =============== -->
    <link href="/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/owl-carousel/owl.theme.css" rel="stylesheet">
	
	 <link rel="stylesheet" href="/css/isotope-docs.css" media="screen">
	  <link rel="stylesheet" href="/css/baguetteBox.css">
    

    <style>
        /* TABLETS DEVICES */
        @media only screen and (min-width : 768px){
            .brandname{
                display: none;
            }
            .brandname:hover{
                text-decoration: none;
            }
            .logoimg{
                width:5rem;
                height: 5rem;
            }
            .services{
                margin-top: 5%;
            }
            .title{
                margin-top: 15%;
            }
            a:hover{
                text-decoration : none;
                color :gold
            }
        }
        /* DESKTOP DEVICES */
        @media only screen and (min-width : 992px){
            .brandname{
                margin-top: 20%;
                font-size : 1.1rem;
                display : block;
            }
            .brandname:hover{
                text-decoration: none;
            }
            .services{
                margin-top: 0;
            }
            .brandname:hover, .brandname:focus, .brandname:active{
                text-decoration: underline;
                color: inherit;
            }
            .aboutimg{
                width : 45vw;
                height : 80vh
            }
            .services{
                margin-top: 0;
            }
            .title{
                margin-top: 8%;
            }
            .all{
                margin-top: 8%;
            }
            a:hover{
                text-decoration : none;
                color :gold
            }
        }
        
        /* MOBILE DEVICES */
        @media only screen and (max-width : 600px){
            .brandname{
                margin-top: 12%;
                padding-left: 50%;
            }
            .brandname:hover{
                text-decoration: none;
            }
            .logoimg{
                height: 45px;
                width: 100%;
            }
            .logoimgpara{
                position: absolute;
                padding-top: 4%;
            }
            .services{
                margin-top: 5%;
            }
            .wcu{
                margin-bottom: 10%;
            }
            .all{
                margin-top: 13%;
            }
            a:hover{
                text-decoration : none;
                color :gold
            }
        }



    </style>
	
</head>

<body>
    <!-- =============== Preloader =============== -->
    <div id="preloader">
        <div id="loading">
		<img width="256" height="32" src="/img/loading-cylon-red.svg">	
        </div>
    </div>
    <!-- =============== nav =============== -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid" style="background-color: #000;">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- BUSINESS LOGO -->
                    <div style="display: flex;">
                        <p class="logoimgpara"><a class="navbar-brand" href="/"><img class="logoimg" src="/img/logo.png"/></a></p>
                        <a href="/"><p class="brandname" style="color: gold;" > NOVIT&nbsp;TECHNOLOGIES</p></a>
                    </div>
                    
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
						<li>
                            <a class="page-scroll" href="/">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/Services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/team">Team</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- =============== navbar-collapse =============== -->

            </div>
        </div>
        <!-- =============== container-fluid =============== -->
    </nav>




<div class="table-responsive all">
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
          <tr>
            <th scope="col" style="font-size:1rem">Name</th>
            <th scope="col" style="font-size:1rem">Email</th>
            <th scope="col" style="font-size:1rem">Message</th>
          </tr>
        </thead>
        <tbody>
            <% data.map((item) => { %>
                    <tr>
                        <td><a href="/messages/view/<%= item._id %>""><%= item.name %></a> </td>
                        <td><a href="/messages/view/<%=item._id%>"><%= item.email %></a> </td>
                        <td><a href="/messages/view/<%= item.id %>"><%= item.message %></a> </td>
                    </tr>
                    <% }) %> 
                </a>
        </tbody>
      </table>
      </div>
   
<%- include('./partials/footer') %> 










